<!DOCTYPE HTML>


<div class="modal" tabindex="-1" role="dialog" ng-controller="userForgotPasswordController as vm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind-html="title"></h4>
            </div>
            <div class="modal-body">
                <form ng-hide="vm.success" class="login-form" ng-submit="vm.ResetPassword()">
                    <div class="col-lg-4">
                        <input type="email" class="form-control col-5" ng-model="vm.email" placeholder="Enter your Email Address" required/>
                    </div>
                    <div class="col-lg-2">
                        <button type="submit" class="btn">Reset Password</button>
                    </div>
                </form>

                <div ng-show="vm.success" class="row alert alert-info">
                    <strong>Please check your email. </strong>
                    An email has been sent to "{{vm.email}}" with instructions on how to reset your password and regain access to your account.
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>
